{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.1.587"}
       ;;  andare/andare {:mvn/version "1.1.587"}
        reagent/reagent {:mvn/version "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]}

        metosin/reitit {:mvn/version "0.5.12"}
        metosin/reitit-spec {:mvn/version "0.5.12"}
        metosin/reitit-frontend {:mvn/version "0.5.12"}
        ;; Just for pretty printting the match
        fipp {:mvn/version "0.6.23"}

        github.cljctools/cljc {:local/root "/ctx/cljctools/cljc"}
        github.cljctools/csp {:local/root "/ctx/cljctools/csp"}

        github.ipfs.ipfs-cube/ui2-meta {:local/root  "/ctx/ipfs-cube/src/ui2-meta"}
        github.username.ipfs-lab/notepad {:local/root  "/ctx/ipfs-lab/src/notepad"}}}