{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.1.587"}
        reagent/reagent {:mvn/version "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]}

        github.username.ipfs-lab/notepad {:local/root  "/ctx/ipfs-lab/src/notepad"}}}