.cpcache/
target/
volumes/

node_modules/
.shadow-cljs/
resources/public/out/
.cpcache/
package-lock.json
volumes/

node_modules/
target/
resources/public/js/
.cljs_nashorn_repl/
nashorn_code_cache/
.git/

.cpcache
.lein-repl-history
.data
target
tmp
src
.user
!target/app.native
!target/app.upx.native
!target/app.standalone.jar


**/.cpcache
**/.lein-repl-history
**/.data
**/target
**/tmp
.git
**/node_modules
**/.shadow-cljs
**/js-out
**/classes

**/.peer*
**/.user*

.ipfs*
.cluster*
