{:paths ["src" "target/classes" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}
             "scijava" {:url "http://maven.scijava.org/content/repositories/public/"}
             "jitpack" {:url "https://jitpack.io"}
             "cloudsmith-jvm-libp2p" {:url "https://dl.cloudsmith.io/public/libp2p/jvm-libp2p/maven/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        aleph/aleph {:mvn/version "0.4.7-alpha5"}
        byte-streams/byte-streams {:mvn/version "0.2.5-alpha2"}
        manifold/manifold {:mvn/version "0.1.9-alpha3"}
        github.cljfx/cljfx {:git/url "https://github.com/cljfx/cljfx"
                            :sha "ec3c34e619b2408026b9f2e2ff8665bebf70bf56"}
        #_tick/tick #_{:git/url "https://github.com/juxt/tick"
                       :sha "4438103d96e00927f777229bc22576bf4fd6c901"
                       :tag "0.4.31-alpha"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        io.replikativ/datahike {:mvn/version "0.3.6"}

        github.cljctools.cljctools/bittorrent-dht-crawl-jvm {:local/root "../cljctools/bittorrent-dht-crawl-jvm"}
        github.cljctools.cljctools/ipfs-jvm {:local/root "../cljctools/ipfs-jvm"}}

 :jvm-opts ["-Dclojure.core.async.pool-size=1" "-Dclojure.compiler.direct-linking=true"]
 :main-opts ["-m" "ipfs-shipyard.find.main"]

 :aliases
 {:repl
  {:extra-deps {github.cljctools/deps-repl {:git/url "https://github.com/cljctools/deps-repl"
                                            :sha "08283d3841c5948b0b9d36a977ebfdad111cdb2f"
                                            :tag "v2.0.1"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "lambdaisland.nrepl.main"
               "--init-ns" "ipfs-shipyard.find.main"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}

  :depstar
  {:replace-deps {com.github.seancorfield/depstar {:git/url "https://github.com/seancorfield/depstar"
                                                   :sha "19aa2a828e9adfeb72f302ca1011c9064fa863ce"
                                                   :tag "2.0.216 + 9"}}
   :ns-default hf.depstar
   :exec-args {}}}}